<div class="container mt-2">
    <h2>Listes des règles</h2>
    <ngb-carousel *ngIf="imageToShow && imageToShow.length > 0; else emptyImage">
        <ng-template ngbSlide *ngFor="let image of imageToShow">
            <div class="carousel-item active" *ngIf="image.show === true">
                <img class="d-block w-100" [src]="createImagePath(image.image)" alt="Random first slide">

                <div class="carousel-caption">
                    <h3>{{image.nom}}</h3>
                    <p>{{image.description}}</p>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    <ng-template #emptyImage>
        <img src="../../../../assets/images/Bienvenue.jpg" alt="posteRegle"/>
    </ng-template>
</div>

<!--<mat-horizontal-stepper [linear]="next" #stepper>
    <mat-step [stepControl]="imageToShow" *ngFor="let image of imageToShow">
        <ng-template matStepLabel>{{image.nom}}</ng-template>
        <div class="carousel-item active" *ngIf="image.show === true">
            <img class="d-block" [src]="createImagePath(image.image)" alt="image.description">
            <div class="form-row justify-content-end">
                <button mat-raised-button matStepperPrevious class="mt-2 mr-2">Back</button>
                <button mat-raised-button matStepperNext class="mt-2">Suivant</button>
            </div>
        </div>
        <div>

        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirmer</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>-->